h1 #{ title }
p.intro
    | A user persona is a model of a real person. 
    | Each persona represents a proportion of the real users. 
    | Each persona becomes the main character in their 
    a(  href="https://github.com/proversity-org/project-farfalla/blob/master/story-writing.md#user-stories"
        target="_blank") user story
    | . The main character has attitudes, motivations, pain points, and goals. 
    | Since we can measure whether a goal has been met or not, we can keep the project focused around the users in an exercise of goal-directed design.

//- RHUBARB PERSONAS https://docs.google.com/presentation/d/1M17wKEcPvt0uIWG3T37325nuxJKVK0OoimUhZvFT-Vc/edit#slide=id.g319772836_0_0
//- TECH PARTNERSHIP https://hackpad.com/Employer-Graduate-Matchup-Platform-iABOooE92QQ#:h=User-Personas
for user, slug in public._data
    .frame
        .col-25
            img(src="img/#{ user.imgsrc }", 
                alt=""
                class="persona-image")
        .col-75
            .cuffs
                h2 #{ slug }
                p.key.user User Group:&nbsp
                    span #{ user.group }
                p.key.user User Type:&nbsp
                    span #{ user.type }

            .col-33
                .cuffs
                    p.title Demographics
                    p.key Age:&nbsp
                        span #{ user.age }
                    p.key Occupation:&nbsp
                        span #{ user.occupation }
                    p.key Hardware:&nbsp
                        span #{ user.hardware }
                    p.key Software:&nbsp
                        span #{ user.software }
                    p.key Browser:&nbsp
                        span #{ user.browser }

            .col-33
                .cuffs    
                    p.title Tech Comforts
                    p.key Web:&nbsp
                        span #{ user.comforts.web }
                    p.key Attitude:&nbsp
                        span #{ user.comforts.attitude }

            .col-33
                .cuffs    
                    p.title Needs
                    ul.needs
                        each val in user.needs
                            li= val
        .col-100
            .cuffs
                p.title Bio / A day in the life
                p.body #{ user.bio }
            .cuffs
                p.title Goals and Motivation
                    each val in user.goals
                        p.body= val



