h1 #{ title }

for user, slug in public._data
    .frame
        .col-25
            img(src="img/#{ user.imgsrc }", 
                alt=""
                class="persona-image")
        .col-75
            .cuffs
                h2 #{ slug }
                p.key.user User Group:&nbsp
                    span #{ user.group }
                p.key.user User Type:&nbsp
                    span #{ user.type }

            .col-33
                .cuffs
                    p.title Demographics
                    p.key Age:&nbsp
                        span #{ user.age }
                    p.key Occupation:&nbsp
                        span #{ user.occupation }
                    p.key Hardware:&nbsp
                        span #{ user.hardware }
                    p.key Software:&nbsp
                        span #{ user.software }
                    p.key Browser:&nbsp
                        span #{ user.browser }

            .col-33
                .cuffs    
                    p.title Tech Comforts
                    p.key Web:&nbsp
                        span #{ user.comforts.web }
                    p.key Attitude:&nbsp
                        span #{ user.comforts.attitude }

            .col-33
                .cuffs    
                    p.title Needs
                    ul.needs
                        each val in user.needs
                            li= val
        .col-100
            .cuffs
                p.title Bio / A day in the life
                p.body #{ user.bio }
            .cuffs
                p.title Goals and Motivation
                    each val in user.goals
                        p.body= val



