h1 #{ title }
.intro
    p
        | A user persona is a model of a real person. 
        | Each persona represents a proportion of the real users. 
        | Each persona becomes the main character in their 
        a(  href="https://github.com/proversity-org/project-farfalla/blob/master/story-writing.md#user-stories"
            target="_blank") user story
        | . The main character has attitudes, motivations, pain points, and goals. 
        | Since we can measure whether a goal has been met or not, we can keep the project focused around the users in an exercise of goal-directed design.

    :markdown
        Actual and Potential
        - Actual means that the user is currently on the system and is using it right now. Their main interests in relation to the bundl platform will be how it solves their ongoing problems with learning online. 
        - Potential means that the user is not using bundl right now and needs convincing to do so. 

        Attitudes to Technology:
        - Innovators are **ventursome** and enjoy being the first. They are quick to adopt *anything* new.
        - Early Adopters are **opinion leaders**. They see discoveries by innovators, find practical applications, and then communicate their opinions to their followers.
        - Early Majority are **value shoppers**. They wait until they are *sure* they are going to get value from the new product. 
        - Late Majority **wait for the majority** to adopt innovation before subscribing to it as well.
        - Laggards are **traditionalists**. They adopt innovation unenthusiastically and generally say they are happy with what they have already.
        Each class of adopter has a different burden of proof. This proof must be presented in an appropriate way.

for user, slug in public._data
    .frame
        .col-25
            img(src="img/#{ user.imgsrc }" 
                alt="Bundl user profile picture"
                class="persona-image")
        .col-75
            .cuffs
                h2 #{ slug }
                if user.type === "potential learner"
                    img(src="img/mortarboard.svg.png"
                        alt="user type logo"
                        class="user-type-img")
                else if user.type === "actual learner"
                    img(src="img/mortarboard.svg.png"
                        alt="user type logo"
                        class="user-type-img")
                else if user.type === "actual client"
                    img(src="img/briefcase.svg"
                        alt="user type logo"
                        class="user-type-img")
                else if user.type === "potential client"
                    img(src="img/briefcase.svg"
                        alt="user type logo"
                        class="user-type-img")

                p.key.user User Group:&nbsp
                    span #{ user.group }
                p.key.user User Type:&nbsp
                    span #{ user.type }

            .col-50
                .cuffs
                    p.title Demographics
                    p.key Age:&nbsp
                        span #{ user.age }
                    p.key Occupation:&nbsp
                        span #{ user.occupation }
                    p.key Education:&nbsp
                        span #{ user.education }
                    p.key Hardware:&nbsp
                        span #{ user.hardware }

            .col-50
                .cuffs    
                    p.title Tech Comforts
                    p.key Software:&nbsp
                        span #{ user.software }
                    p.key Browser:&nbsp
                        span #{ user.browser }
                    p.key Web:&nbsp
                        span #{ user.comforts.web }
                    p.key Attitude:&nbsp
                        span #{ user.comforts.attitude }
                
        .col-100
            .cuffs
                p.title Bio / A day in the life
                p.body #{ user.bio }
            .cuffs    
                p.title Pain Points
                    each val in user.pain
                        p.body= val
            .cuffs
                p.title Goals and Motivation
                    each val in user.goals
                        p.body= val
        